* {
    margin: 0;
    padding: 0;
    border: 0;
}
#content-img{
    background-image: url(../imgs/dbdwall-teste.jpg);
    background-size: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
