@media (max-width: 600px) {
    #menu-label{
        display: block;
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        z-index: 1;
        
    }
    #menu-label>span{
        font-size: 35px;
    }
    main{
        flex-direction: column;
        position: relative;
    }

    .menu{
        position: absolute;
        top: -100%;
        transform: translateY(-100%);
        transition-duration: 1s;
        width: 100vw;
        height: 100vh;
    }

    #menu-box:checked~.menu{
        transform: translateY(0vh);
        transition-duration: 1s;
        display: block; 
    }
}
